
#banner {
    color: white;
    font-size: 35px;
    text-align: center;
    background: blue;
}

.welcome {
  text-transform: uppercase;
}

table {
  background-color: beige;
  font-family: monospace;
}
